<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.title}}</title></head>
<body>
<h1 style="text-align: center">{{.title}}</h1>
<div style="align-content: center">
    <form action="/my" style="align-content: center">
        <label for="difficulty"> 请选择难度：</label>
        <select id="difficulty" name="difficulty">
            {{range $i, $v := .difficulty}}
            <option value="{{$i}}">{{$v}}</option>
            {{end}}
        </select>
        <br/>
        <label for="max">选择最大范围：</label>
        <select id="max" name="max">
            {{range $i := .max}}
            <option value="{{$i}}">{{$i}}</option>
            {{end}}
        </select>
        <br/>
        <label for="no"> 题量：</label>
        <select id="no" name="no">
            {{range $i := .no}}
            <option value="{{$i}}">{{$i}}</option>
            {{end}}
        </select>
        <br/>
        <button type="submit" style="align-content: center">提交</button>
    </form>
</div>
</body>
</html>
