<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.title}}</title>
    <link href="../static/css/index.css" rel="stylesheet"/>
</head>
<body>

<a class="back" href="/">返回</a>
<a class="reload" href="javascript:" onclick="window.location.reload()">刷新</a>
<a class="print" href="javascript:" onclick="preview();">打印</a>
<div id="all">
{{ range $index_, $element :=.items }}
<!--start-print-->
<div class="container a4-end-wise">
    <div>
        <span style="margin-left: 10%;font-size: 25px">姓名:&nbsp;<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></span>
        <span style="margin-left: 5%;font-size: 25px">班级:&nbsp;<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></span>
        <span style="margin-left: 5%;font-size: 25px">得分:&nbsp;<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></span>
        <span style="margin-left: 5%;font-size: 25px">评分:&nbsp;☆☆☆☆☆</span>

    </div>
    <table class="table">
        <tr>
            <th class="table-th"><span class="table-th-span">练习一</span></th>
            <th class="table-th"><span class="table-th-span">练习一</span></th>
            <th class="table-th"><span class="table-th-span">练习一</span></th>
        </tr>
        <tr>
            {{$index := 0}}
            {{ range $element }}
            {{- if (mod $index 3)}}
        </tr>
        <tr>
            {{- end}}
            <td><span class="table-span">{{.}} </span>
            </td>
            {{$index = (add $index 1)}}
            {{end}}
        </tr>
    </table>
</div>
<!--end-print-->
{{end}}
</div>
<script>
    /**
     * [打印]
     * @return {[type]} [description]
     */
    function preview() {
        //获取当前页的html代码
        bd_html = window.document.body.innerHTML
        window.document.body.innerHTML = document.getElementById('all').outerHTML;
        window.print();
        window.document.body.innerHTML = bd_html;
    }
</script>

</body>
</html>